body {
  font-family: Arboria, sans-serif;
}

#top-name {
  display: flex;
  justify-content: center;
}

#top-name a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-size: 64px;
}

#top-name a:hover {
  color:rgb(78, 78, 78);
  transition: .25s;
}

#site-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2%;
  font-variant: small-caps;
  font-size: 20px;
  font-weight: 300;
}

#site-nav li {
  list-style: none;
}

#site-nav a {
  color: black;
}

#site-nav a:hover {
  color: rgb(78, 78, 78);
  text-decoration: none;
  transition: .25s;
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  min-width: 120px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.85);
}

.dropdown-content a {
  color: black;
  padding: 1px 0px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

#home-gallery {
  width: 98%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.column img:hover {
  opacity: 0.75;
  transition: .25s;
  cursor: zoom-in
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 95%;
  }
}